.root {
    display: grid;
    grid-template-columns: [sidebar] 3fr [gap] 1fr [main] 8fr; 
    grid-template-rows: [primary] auto [footer] auto;
    background-color: #ffffff;
}

.sidebar {
    display: grid;
    grid-template-rows: [brand] 48px [search] 48px [nav] auto;
    grid-column: sidebar;
    background-color: #F4F4F4;
    min-width: 360px;
}

.gap {
    grid-column: gap;
    min-width: 30px;
}

.content {
    display: grid;
    grid-column: main;
    min-height: calc(100vh - 75px);
    grid-template-rows: [header] 48px [mainContent] auto;
    padding: 5px;
}

.topicContent {
    display: grid;
    grid-template-columns: 650px 250px;
}

@media screen 
  and (min-device-width: 1600px) 
  {
      .topicContent {
          grid-template-columns: 760px 250px;
      }
  }