.root {
  min-height: 100vh;
}

.rootMarkdown {
  composes: root;
  --background-color: #ffffff;
  --footer-margin: 0px 0px 0px 270px;
  --footer-top-border: 2px solid var(--spectrum-tabs-rule-color, var(--spectrum-global-color-gray-200));
  --header-top-padding: 48px;
  --header-nav-position: fixed;

}

.rootFull {
  composes: root;
  --background-color: var(--spectrum-alias-background-color-default, var(--spectrum-global-color-gray-100));
  --footer-margin: 0px;
  --header-top-padding: 0px;
  --header-nav-position: relative;
}

.leftSidebar {
  display: grid;
  grid-template-rows: [brand] 48px [search] 48px [nav] auto;
  grid-column: sidebar;
  background-color: #f4f4f4;
  min-height: calc(100vh - 75px);
}

.rightSidebar {
  display: none;
}

.gap {
  grid-column: gap;
}

.content {
  display: grid;
  grid-column: main;
  grid-template-rows: [header] 48px [mainContent] min-content;
  padding: 5px;
}

.topicContent {
  display: flex;
}

.main {
  width: 100%;
  max-width: 1200px;
}

@media screen and (min-device-width: 800px) {
  .topicContent {
    flex-direction: column-reverse;
  }
  .main {
    width: 100%;
  }

  .rightSidebar {
    display: block;
    width: 200px;
  }
}
@media screen and (min-device-width: 1024px) {
  .main {
    width: calc(100vw - 600px);
  }

  .topicContent {
    flex-direction: row;
    flex-wrap: wrap-reverse;
  }
}

@media screen and (min-device-width: 1440px) {
  .main {
    width: calc(100vw - 650px);
  }

  .rightSidebar {
    width: 250px;
  }
}
