.root {
    text-align: center;
    display: grid;
    grid-template-columns: minmax(30px,50px) auto;
    grid-auto-flow: column;
    justify-items: stretch;
    align-items: center;
}

.link {
    justify-self: center;
}

.image {
    width: 30px;
}

.siteName {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}
