.root {
    display: flex;
    align-items: center;
    position: relative;
    width: 270px;
    text-decoration: none;
    padding: 0 0 0 20px;
    font-size: 16px;
  }
  
  .image {
    width: 30px;
  }
  
  .siteText {
    font-weight: 700;
    font-size: 16px;
    margin-left: 10px;
    color: var(--spectrum-body-text-color, var(--spectrum-alias-text-color));
  }
  
  .productText {
    position: relative;
    color: #4d4d4d;
    font-weight: normal;
    text-decoration: none;
    white-space: nowrap;
  }
  
  .productText::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 1em;
    margin: 0 10px;
    border-left: 1px solid #4d4d4d;
  }