.root {
    margin: var(--footer-margin);
    padding: 20px 40px;
    z-index: 3;
    background-color: var(--background-color);
}
.container {
    position: relative;
    display: flex;
    max-width: 100%;
    padding: 10px 0 0 0;
    border-top:  var(--footer-top-border);
    margin: 0 auto;

}

.linkContainer {
    flex: 1 0 0;
    padding: 0 0 10px 0;
}

.linkContainer::before {
    display: table;
    content: "";
    line-height: 0;
}

.linkList {
    margin: 0;
    padding: 0;
}

.listItem {
    display: inline-block;
    margin: 0 30px 10px 0;
}

a.link, a.link:hover {
    color: var(--spectrum-body-text-color);
}
