.root {
    margin: 0 auto;
    width: 100%;
    max-width: 488px;
    display: inline-block;
    position: relative;
}
.inputField {
    width: 75%;
    margin: auto;
}

.magnifier {
    left: 15%;
}

.root .clear {
    right: 13%;
}