.root {
  position: relative;
  z-index: 2;
  flex: 1 0 auto;
}

.list {
  position: relative;
  z-index: 9;
  padding: 0 0 0 50px;
  background: #fff;
}

.listItem {
  list-style: none;
  margin-bottom: 0;
  position: relative;
  outline: 0;
}

.label {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  font-size: var(
    --spectrum-body-4-text-size,
    var(--spectrum-global-dimension-font-size-200)
  );
  z-index: 2;
  -webkit-user-drag: none;
}
